*{
  box-sizing:border-box ;
  margin:0px;
  padding:0px;
}
body{
  font-size:20px;
  overflow-x: hidden;
  color:white;
}
header{
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5) ),url("5.jpg");
  height:100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center ;
 
}
.main{
  max-width: 1180px;
  margin:0 auto;

}
.clearfix: after{
    display: block;
    content:".";
    clear:both;
    visibility: hidden;
}
.logo{
  float:left;
  height:230px;

   width:auto;
  margin-top:3px;
}
.main-nav{
  float:right;
 margin-top:70px;
}
.main-nav li{
    display:inline-block;
    list-style: none;
    margin-left:30px;
}
.main-nav li a{
  padding:5px 0;
  color:white;
  text-decoration: none;
  
  
}
.main-nav li a:hover{
  border-bottom: 2px solid #03e2eb9f;
}
.head{
  width:1200px;
  position:absolute;
  top:60%;
  left:50%;
  transform: translate(-50%,-60%);
}

h1{
  word-spacing:6px ;
  margin-bottom: 30px;
  letter-spacing: 4px;
  font-weight:lighter;
}
.btn{
  border-radius: 200px;
  padding:10px 35px;
  text-decoration: none;
 
  display:inline-block;
  transition: background 0.2s,border 0.2s,color 0.2s;
}
.btn-full{
  border: 1px solid #f4f475;
  color:#f4f475;
  text-decoration: bold;
  text-transform: uppercase;
  margin-right: 15px;
  background: transparent;
}
.btn-full:hover{
  background: white;
  color:black;
}
.btn-nav{
  border: 1px solid white;
  color:white;
  text-decoration: bold;
  text-transform: uppercase;
  margin-right: 15px;
  background: transparent;
}
.btn-nav:hover{
  background: #f4f475;
  color: black;
}

.Chan{
  animation: chai 1s infinite;
}
@keyframes chai{
  0%{color:red;}
  25%{color:yellow;}
  50%{color: black;}
  75%{color: purple;}
  100%{color: white;}
  
}

  .mobile-icon{
    display:none;
    }

  
@media(max-width: 1199px){
.head{
  width:100%;
  padding:1px 3px;
}
 
  
     


@media(max-width:998px){
  h1{ font-size:200%;}
  
    
  

    @media(max-width:768px){
  h1{ font-size:180%; 
    margin-top:20px;
      }
  .main-nav{
    
    display:none;
    }
   
    .mobile-icon{
      display:inline-block;
      color:#fafafa94;
    
      float:right;
      margin-top: 30px;
      margin-right: 30px;
     
    }
    .main-nav{
      float:left;
      
    }
    .main-nav li a{
      color:black;
    
    }
    .main-nav li{
      margin-top:10px;
      display:block;
      
    }
    
    
    .logo{
  float:left;
  height:150px;
   width:auto;
  margin-top:0px;
  
}
          
     

  }
@media(max-width:410px)
  {
    .logo{
  float:left;
  height:120px;
   width:auto;
  margin-top:0px;
  
}
    h1{
        font-size:170%;
       margin-top:30px;
      }

     
     
   }
  
@media(max-width:340px)
  {
    .logo{
  float:left;
  height:60px;
   width:auto;
  margin-top:0px;
  
}
    .main-nav li a{
     font-size:70%;
     }
    
    h1{
        font-size:20%;
       margin-top:50px;
      }
    .mobile-icon{
      display:inline-block;
      color:#fafafa94;
    
      float:right;
      margin-top: 10px;
      margin-right: 30px;
     
    }

   }


